<TMPL_IF HTML5><!DOCTYPE html>
<html>
<TMPL_ELSE><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
</TMPL_IF>
<head>
<TMPL_IF DYNAMIC>
<TMPL_IF FORCEBASEURL><base href="<TMPL_VAR FORCEBASEURL>" /><TMPL_ELSE>
<TMPL_IF BASEURL><base href="<TMPL_VAR BASEURL>" /></TMPL_IF>
</TMPL_IF>
</TMPL_IF>
<TMPL_IF HTML5><meta charset="utf-8" /><TMPL_ELSE><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></TMPL_IF>
<title><TMPL_VAR TITLE></title>
<TMPL_IF FAVICON>
<link rel="icon" href="<TMPL_VAR BASEURL><TMPL_VAR FAVICON>" type="image/x-icon" />
</TMPL_IF>
<link rel="stylesheet" href="<TMPL_VAR BASEURL>style.css" type="text/css" />
<TMPL_IF LOCAL_CSS>
<link rel="stylesheet" href="<TMPL_VAR BASEURL><TMPL_VAR LOCAL_CSS>" type="text/css" />
<TMPL_ELSE>
<link rel="stylesheet" href="<TMPL_VAR BASEURL>local.css" type="text/css" />
</TMPL_IF>
<TMPL_IF EDITURL>
<link rel="alternate" type="application/x-wiki" title="Edit this page" href="<TMPL_VAR EDITURL>" />
</TMPL_IF>
<TMPL_IF FEEDLINKS><TMPL_VAR FEEDLINKS></TMPL_IF>
<TMPL_IF RELVCS><TMPL_VAR RELVCS></TMPL_IF>
<TMPL_IF META><TMPL_VAR META></TMPL_IF>

<script>
var today = new Date();
if((today.getDate() == 18) && (today.getMonth() == 0) && (today.getFullYear() == 2012))
 {
      window.location = "http://protestsopa.org";
 }
</script>

</head>
<body>
    <div id="logo_container">
	    <div class="menu">
	    	<ul>
              <li><a href="https://wiki.debian.org/FreedomBox">Wiki</a></li>
		      <li><a href="/code">Code</a></li>
		      <li><a href="/learn">Learn</a></li>
	    	  <li><a href="/discuss">Discuss</a></li>
	    	  <li><a href="/pitchin">Contribute</a></li>
	    	  <li><a href="/donate">Donate</a></li></ul>
	    </div>
      <div id="logo"><a href="/"><img src="/images/freedombox_large.png" alt="Home"></a></div>
    </div>

    <div id="main_body">
      <div id="eben_quote">

<script type="text/javascript"
src="http://s3.www.universalsubtitles.org/embed.js">
(
  {"base_state": {}, "video_url":
"http://www.youtube.com/watch?v=8dMrI74Ti4M"}
)
</script>
<!--
	  	      	<script type="text/javascript" src="http://s3.www.universalsubtitles.org/embed.js">
			({
				"base_state": {},
				"video_url": "http://freedomboxfoundation.org/video/57069358.ogv",
				"video_config": {poster: "http://freedomboxfoundation.org/images/vasile-tv.png", width: "320", height: "240"},
				"alternate_video_urls": [
					{url: "http://freedomboxfoundation.org/video/57069358.mov",
						config: {poster: "http://freedomboxfoundation.org/images/vasile-tv.png"}},
					"http://vimeo.com/25831127"]
			})
		</script> -->
      </div>
    </div>

      <div id="fp_nav">
		<h1>Enabling private conversations online</h1>
      	<p>We're building software for smart devices whose engineered purpose
      	is to work together to
		facilitate free communication among people, safely and securely,
		beyond the ambition of the strongest power to penetrate. They can make
		freedom of thought and information a permanent, ineradicable feature
		of the net that holds our souls.
		<span id="eben_attribution">
		  <span class="accent_color">Eben Moglen</span>
		</span></p>
		<p><a href="/learn">Learn more about FreedomBox</a></p>

      </div>

      <div id="sep" />
      <div id="news_left">
	<div id="news_head"><a href="https://www.freedomboxfoundation.org/news/">News<a></div>
	<TMPL_VAR CONTENT>
      </div>
    </div>

    <div id="fp_footer">
      <a href="/faq#why_debian"><img src="/images/debian_logo.png" height="17" /></a> | <a href="/contact">Contact</a> | <a href="/thanks">Thanks</a> |
      <TMPL_IF EDITURL><a href="<TMPL_VAR EDITURL>" rel="nofollow">Admin</a></TMPL_IF>

<TMPL_IF OTHERLANGUAGES>
  <TMPL_IF HTML5><nav id="otherlanguages"><TMPL_ELSE><div id="otherlanguages"></TMPL_IF>
  <p>This page is also available in the following languages, thanks to our <a href="/translate/">translation team</a>:</p>
  <ul>
  <TMPL_LOOP OTHERLANGUAGES>
    <li>
      <a href="<TMPL_VAR URL>"><TMPL_VAR LANGUAGE></a>
      <TMPL_IF MASTER>(master)<TMPL_ELSE>&nbsp;(<TMPL_VAR PERCENT>%)</TMPL_IF>
    </li>
  </TMPL_LOOP>
  </ul>
  <TMPL_IF HTML5></nav><TMPL_ELSE></div></TMPL_IF>
</TMPL_IF>

    </div>
  </body>
</html>
